<th:block th:replace="includes/header :: header"></th:block>
<th:block th:replace="includes/sider :: sider"></th:block>
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,minimum-
 scale=1.0,maximum-scale=1.0,user-scalable=no"
	charset="UTF-8">

<script>
	function favoriteUpdate() {
		alert("관심 등록되었습니다.");
	}
	
	$(document).ready(function(){
		$('#createObject').click(function(){
		 var ar=[];
		    $('.song').each(function(){
		        if($(this).is(':checked'))
		        {
		            ar.push({url:$(this).attr('data'),title:$(this).attr('title')}); 
		            console.log("ar", ar);
		        }        
		    });
		    alert(JSON.stringify(ar));
		  });
		});
	
</script>

<style>
#two {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.left {
	width: 40%;
	float: left;
}

.right {
	margin-top: 3%;
	margin-right: 10%; 
	width: 40%;
}

.titles{
	margin: 20px 0;
	font-size: 30px;
	font-weight: 600;
}

#favorite {
	background: url("/img/favorite.jpg");
	background-repeat: no-repeat;
	width: 268px;
	height: 50px;
	border-color: transparent;
}

.box {
	border-style: groove;
	border-radius: 10px;
	width: 100%;
}

.box2 {
	border-style: groove;
	border-radius: 10px;
}

.comment {
	width: 450px;
	margin-bottom: 5px;
	margin-top: 5px;
}

#content{
	width: 95%;
}

.listre {
	width: 15%;
	height: 100%;
	padding: 0 3% 3% 0;
	text-align: center;
}

.pic {
	width: 150px;
	padding-bottom: 10px;
	height: 150px;
}

.moli li {
	list-style-type: none;
}

.moli {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 180px;
}

.margins {
	margin-top: 50px;
	margin-bottom: 75px;
}

.staff_info{
	margin: 5px 0;
}

</style>

<div id="page-wrapper">

	<div id="two" th:object="${detail}">
		<div class="left">
			<div class="page-header">
				<h1>
					<strong><span th:text="*{title}">TITLE</span><br></strong>
				</h1>
				<span th:text="*{genre}" style="margin-left: 5px;">GENRE</span><br>
			</div>
			<div>
				<form method="post" action="favorite">
					<!-- 관심 등록 기능  -->
					<input type="hidden" name="count" th:value="${favoriteCount}">
					<input type="hidden" name="detail.no" th:value="*{no}"> <input
						type="hidden" name="detail.no" th:value="*{no}"> 
						
						<input type="submit" value="" name="favorite" id="favorite"
						onclick="favoriteUpdate();">

				</form>
				<div class="titles">줄거리</div>
				<div><h4 th:text="*{summary_title}" style="font-weight: 600;">SUMMATY_TITLE</h4></div> 
				
				<div><span th:text="*{summary_content}">SUMMARY_CONTENT</span></div>
			</div>
		</div>
		<div class="right">
			<img th:src="@{'/img_movie/' + *{poster}}"><br>
		</div>

	</div>

	<br>
	<div class="margins">

		<!-- 출연진 정보 출력 -->
		<div class="titles">배우 / 제작진</div>

		<ul class="moli">
			<li th:each="l:${staff}" class="listre"><img alt="사진"
				th:src="@{'/img_movie/' + ${l.photo}}" class="pic">
				<div class="staff_info" th:text="*{l.name}">이름</div>
				<div class="staff_info" th:text="*{l.role}">역할</div></li>
		</ul>
	</div>
<table>
  <tr>
  <td><input data='song_path1' title="title1"  type="checkbox" class="song"></td>
  <td>song 1</td>
  <td>Babo Man</td>
  <td>Content Goes Here</td>
  </td>
  </tr>
  <tr>    
  <td><input data="song_path2" title="title_2" type="checkbox" class="song" /></td>
  <td>song 2</td>
  <td>Rahat Fatah Ali, Hamesh</td>
  <td>Content Goes Here</td>
  </tr>
 </table> 
 <input type="button" value="Add" id="createObject"/>

	<div class="">
		<div class="titles">댓글 작성</div>
		<!-- 댓글 작성 기능  -->
		<div class="box">
			<form method="post" action="">
				<input type="hidden" name="detail" th:value="${detail.no}">

				<div align="left">
					<label for="title"> 제목 :</label> 
					
					<input type="text" name="title"
						id="title" class="comment"> <br> 
						
						<label for="content">
						내용 :</label> <textarea name="content" id="content"> <br>
					<label for="grade"> 별점 :</label> <select name="grade" id="grade"><option
							value=5 selected="selected">5</option>
						<option value=4>4</option>
						<option value=3>3</option>
						<option value=2>2</option>
						<option value=1>1</option>
					</select> <input style="" type="submit" value="작성">
				</div>
			</form>
		</div>


		<br> <br>
		<div>
			<span class="titles">관람객 리뷰</span> 
			<span style="font-size: 20px; margin-bottom: 2px;" th:text="'('+${#lists.size(detail.review)+')'}">리뷰 갯수</span>
		</div>
		<!-- 관람객 리뷰 출력 기능  -->
		<div align="center" th:each="r: ${detail.review}">
			<hr style="border: solid 1px lightgray; width: 101.5%;">
			<div align="left">
				<span style="font-weight: bold; font-size: large;"
					th:text="${r.title}">댓글 제목</span> <br> <span
					th:text="${r.content}">댓글 내용</span>
			</div>
			<br>

			<div>
				<img align="left" th:src="@{'/img/'+ ${r.grade}+'.jpg'}"
					height="25px;" width="100">
			</div>
			<div align="right">
				<span style="font-weight: bolder;" th:text="${r.member_id}">작성자
					아이디</span> <span th:text="${r.reg_date}">작성 날짜</span>
			</div>
		</div>

	</div>
</div>