<th:block th:replace="includes/header :: header"></th:block>
<th:block th:replace="includes/sider :: sider"></th:block>
<div id="page-wrapper">
	<style type="text/css">
span {
	color: #000;
}

.more {
	text-align: right;
	margin: -30px 0 15px 0;
}
.moremi{
	color: #000;
	font-weight: bold;
}
.moli li {
	list-style-type: none;
	float: left;
}

.moli {
	display: inline-block;
}

.listre {
	width: 160px;
    margin: 0 30px 10px 0;
	text-align: center;
}

.pic {
	width: 159px;
	padding-bottom: 10px;
	height: 191px;
}
</style>
	<div class="movieList">
		<h3>
			<strong>감성 저격 로맨스 영화</strong>
		</h3>
		<div class="more">
			<a th:href="@{'/movie/list/로맨스/1'}" class="moremi">더보기</a>
		</div>
		<ul class="moli">
			<li th:each="m : ${movieListRomance}" class="listre"><a th:href="@{'/detail/' + ${m.no}}"><img
					alt="사진" th:src="@{'/img/' + ${m.poster}}" class="pic" /></a> <a
				th:href="@{'/detail/' + ${m.no}}"><span th:text="${m.title}">영화제목</span></a><br> <span
				th:text="${m.genre}"></span></li>
		</ul>
		<h3>
			<strong>긴장감 넘치는 통쾌한 액션 영화</strong>
		</h3>
		<div class="more">
			<a th:href="@{'/movie/list/액션/1'}" class="moremi">더보기</a>
		</div>
		<ul class="moli">
			<li th:each="m : ${movieListAction}" class="listre"><a th:href="@{'/detail/' + ${m.no}}"><img
					alt="사진" th:src="@{'/img/' + ${m.poster}}" class="pic"></a> <a
				th:href="@{'/detail/' + ${m.no}}"><span th:text="${m.title}">영화제목</span></a><br> <span
				th:text="${m.genre}"></span></li>
		</ul>
		<h3>
			<strong>두산형</strong>
		</h3>
		<div class="more">
			<a th:href="@{'/movie/list/SF/1'}" class="moremi">더보기</a>
		</div>
		<ul class="moli">
			<li th:each="m : ${movieListSf}" class="listre"><a th:href="@{'/detail/' + ${m.no}}"><img
					alt="사진" th:src="@{'/img/' + ${m.poster}}" class="pic"></a> <a
				th:href="@{'/detail/' + ${m.no}}"><span th:text="${m.title}">영화제목</span></a> <br> <span
				th:text="${m.genre}"></span></li>
		</ul>
		<h3>
			<strong>해주시는거죠?</strong>
		</h3>
		<div class="more">
			<a th:href="@{'/movie/list/애니메이션/1'}" class="moremi">더보기</a>
		</div>
		<ul class="moli">
			<li th:each="m : ${movieListAni}" class="listre"><a th:href="@{'/detail/' + ${m.no}}"><img
					alt="사진" th:src="@{'/img/' + ${m.poster}}" class="pic"></a> <a
				th:href="@{'/detail/' + ${m.no}}"><span th:text="${m.title}">영화제목</span></a><br> <span
				th:text="${m.genre}"></span></li>
		</ul>
	</div>
</div>
