<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>영화 리스트</title>
</head>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
<body>

<div>
	<h4><strong>감성 저격 로맨스 영화</strong></h4><a href="#">더보기</a>
	<table>
		<tr>
			<td th:each="m : ${movieListRomance}" width="197">
				<a href="#"><img alt="사진" th:src="@{'/img/' + ${m.thumbnail}}" width="197"></a>
				<a href="#"><span th:text="${m.title}">영화제목</span></a>
				<span th:text="${m.genre}"></span>
			</td>
		</tr>
	</table>
	<h4><strong>긴장감 넘치는 통쾌한 액션 영화</strong></h4><a href="#">더보기</a>
	<table>
		<tr>
			<td th:each="m : ${movieListAction}" width="197">
				<a href="#"><img alt="사진" th:src="@{'/img/' + ${m.thumbnail}}" width="197"></a>
				<a href="#"><span th:text="${m.title}">영화제목</span></a>
				<span th:text="${m.genre}"></span>
			</td>
		</tr>
	</table>
	<h4><strong>올해도 크리스마스도 케빈과 함께! 연휴 특선 영화</strong></h4><a href="#">더보기</a>
	<table>
		<tr>
			<td th:each="m : ${movieListAni}" width="197">
				<a href="#"><img alt="사진" th:src="@{'/img/' + ${m.thumbnail}}" width="197"></a>
				<a href="#"><span th:text="${m.title}">영화제목</span></a>
				<span th:text="${m.genre}"></span>
			</td>
		</tr>
	</table>
	<h4><strong>오늘만 무료공개! 기간 한정 영화</strong></h4><a href="#">더보기</a>
	<table>
		<tr>
			<td th:each="m : ${movieListComi}" width="197">
				<a href="#"><img alt="사진" th:src="@{'/img/' + ${m.thumbnail}}" width="197"></a>
				<a href="#"><span th:text="${m.title}">영화제목</span></a>
				<span th:text="${m.genre}"></span>
			</td>
		</tr>
	</table>
</div>

</body>
</html>