<th:block th:replace="includes/header :: header"></th:block>
<th:block th:replace="includes/sider :: sider"></th:block>
<div id="page-wrapper">
	<style type="text/css">
span {
	color: #000;
}

.more {
	text-align: right;
	margin: -30px 0 15px 0;
}
.moremi{
	color: #000;
	font-weight: bold;
}
.moli li {
	list-style-type: none;
	float: left;
}

.moli {
	display: inline-block;
}

.listre {
	width: 160px;
    margin: 0 30px 10px 0;
	text-align: center;
}

.pic {
	width: 159px;
	padding-bottom: 10px;
	height: 191px;
}
</style>
<div>
	<h3><strong>이야기 속 주인공이 되어 보는 RPG</strong></h3>
	<div class="more">
		<a th:href="@{'/game/list/RPG/1'}" class="moremi">더보기</a>
	</div>
	<ul class="moli">
		<li th:each="g : ${gameListRPG}" class="listre">
			<a th:href="@{'detail/' + ${g.no}}">
				<img th:src="@{'/img/' + ${g.poster}}" alt="게임사진" class="pic">
			</a>
			<a th:href="@{'/detail/' + ${g.no}}"><span th:text="${g.title}"></span></a>
			<br>
			<span th:text="${g.genre}"></span>
		</li>
	</ul>
	<h3><strong>팀 대항 온라인 게임 MOBA</strong></h3>
	<div class="more">
		<a th:href="@{'/game/list/MOBA/1'}" class="moremi">더보기</a>
	</div>
	<ul class="moli">
		<li th:each="g : ${gameListMOBA}" class="listre">
			<a th:href="@{'detail/' + ${g.no}}">
				<img th:src="@{'/img/' + ${g.poster}}" alt="게임사진" class="pic">
			</a>
			<a th:href="@{'/detail/' + ${g.no}}"><span th:text="${g.title}"></span></a>
			<br>
			<span th:text="${g.genre}"></span>
		</li>
	</ul>
	<h3><strong>역동적이며, 흥미진진한 SPORTS</strong></h3>
	<div class="more">
		<a th:href="@{'/game/list/SPORTS/1'}" class="moremi">더보기</a>
	</div>
	<ul class="moli">
		<li th:each="g : ${gameListSPORTS}" class="listre">
			<a th:href="@{'detail/' + ${g.no}}">
				<img th:src="@{'/img/' + ${g.poster}}" alt="게임사진" class="pic">
			</a>
			<a th:href="@{'/detail/' + ${g.no}}"><span th:text="${g.title}"></span></a>
			<br>
			<span th:text="${g.genre}"></span>
		</li>
	</ul>
	<h3><strong>큰 화면 특유의 몰입감과 미세조작에 묘미 Console</strong></h3>
	<div class="more">
		<a th:href="@{'/game/list/Console/1'}" class="moremi">더보기</a>
	</div>
	<ul class="moli">
		<li th:each="g : ${gameListConsole}" class="listre">
			<a th:href="@{'detail/' + ${g.no}}">
				<img th:src="@{'/img/' + ${g.poster}}" alt="게임사진" class="pic">
			</a>
			<a th:href="@{'/detail/' + ${g.no}}"><span th:text="${g.title}"></span></a>
			<br>
			<span th:text="${g.genre}"></span>
		</li>
	</ul>
</div>
</div>