<th:block th:replace="includes/header :: header"></th:block>
<th:block th:replace="includes/sider :: sider"></th:block>
<style type="text/css">
.category {
	padding-right: 10px;
	padding-left: 0px;
	color: #333333;
	font-weight: bold;
	font-size: 18px;
	font-weight: bold;;
}

.title_contents {
	top: 230px;
	left: 280px;
	width: 750px;
	height: 96px;
}

.genre_contents {
	top: 395px;
	left: 80px;
	width: 710px;
	height: 30px;
	font-weight: bold;
}

.title {
	font-weight: bold;
	font-size: 18px
}

.contents {
	font-weight: bold;
	font-size: 36px;
	color: #333333;
}

.genrecss {
	font-weight: bold;
	font-size: 18px;
}

.story_title {
	font-weight: bold;
	font-size: 18px;
}

.story_contents, content {
	left: 335px;
	width: 802px;
	height: 96px;
	font-weight: bold;
}

.poster {
	font-weight: bold;
	font-size: 18px;
}


</style>


<div id="page-wrapper">
	<h2>
		<span class="contents">컨텐츠 정보입력</span>
	</h2>
	</br>
	<form th:action="@{/movie/create}" method="post" enctype="multipart/form-data">
		<input type="hidden" name="category" id="category"/>
		<div>
			<span class="category" >카테고리</span> <select id="cate">
				<option value="movie">영화</option>
				<option value="drama">드라마</option>
				<option value="game">게임</option>
			</select>
		</div>
		</br>
		<div class="title">
			<span>제목</span>
	
	</br> <input class="title_contents" name="title" type="text" placeholder="내용을 입력해주세요" /></br>
</div>
</br>
 <span  class="genrecss">장르&nbsp&nbsp</span>
 <select name="genre_movie" id="genre_movie">
				<option value="" selected="selected">장르선택</option>
				<option value="로맨스">로맨스</option>
				<option value="애니메이션">애니메이션</option>
				<option value="액션">액션</option>
				<option value="코미디">코미디</option>
			</select>
<select name="genre_drama" id="genre_drama" style="display:none;">
				<option value="" selected="selected">장르선택</option>
				<option value="코미디">코미디</option>
				<option value="스릴러">스릴러</option>
				<option value="멜로">멜로</option>
				<option value="코미디">코미디</option>
				<option value="사극">사극</option>
			</select>			
</br>
</br>
<div class="story_title">줄거리 제목</div>
<input type="text" class="story_contents" name="summary_title" placeholder="내용을 입력해주세요" />
</br>
</br>
<div class="story_title">줄거리 내용</div>
<input type="text" class="story_contents" name="summary_content" placeholder="내용을 입력해주세요" />
</br>
</br>
<div>
	<span class="category">연령제한</span> <select name="age_limit">
		<option>7</option>
		<option>12</option>
		<option>15</option>
		<option>19</option>
	</select>
</div>

</br>
<div class="poster">
	포스터<input type="file" name="poster_image" id="poster_image"  value="c:/upload/poster1"/><br>

	<div>
		썸네일<input type="file" name="thumbnail_image" id="thumbnail_image" /><br>

		
			상영여부&nbsp&nbsp&nbsp<label><input type="radio" name="screening" value="Y">Y</label>&nbsp&nbsp <label><input
				type="radio" name="screening" value="N">N</label>
		</div>
			<input type="submit" value="등록">
		</form>
	</div>
	
	
<script>
	$(function(){
		$("#cate").on("change", function(){
			//alert(this.value);
			
			$("#category").val(this.value);
			if (this.value=="movie") {
				$("#genre_movie").show();
				$("#genre_drama").hide();
			} else if (this.value=="drama") {
				$("#genre_movie").hide();
				$("#genre_drama").show();
			}
		});
	});
</script>	