<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>로그인 화면</title>
</head>
<body>
	<!-- 로그인 form -->
	<div class="wrap">
		<form th:action="@{/account/login}" id="login" method="post">
			<input type="text" name="id" placeholder="Username"><br />
			<input type="password" name="pass" placeholder="Password"><br />
			<button class="submit">로그인</button>
			<br /> 회원이 아니세요? <a th:href="@{/account/join}">회원가입</a>
		</form>
	</div>

	<!-- 에러 alert -->
	<div th:if="${param.error}">아이디 혹은 패스워드가 다릅니다.</div>
	
	<!-- 로그아웃 alert -->
	<div th:if="${param.logout}">정상적으로 로그아웃 되었습니다.</div>
</body>
</html>