<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>로그인 화면</title>
</head>
<body>
	<!-- 로그인 form -->
	<h1><P th:text="${msg}"/></h1>

	<table border="1">
	<form action="/account/loginsuccess" method="post">
	<tr>
		<td>사용자ID</td><td><input type="text" name="id" placeholder="아이디"></td>
	</tr>
	<tr>
		<td>비밀번호</td><td><input type="password" name="pass" placeholder="비밀번호"></td>
	</tr>
	<tr>
	<td colspan="2" align="center">
		<input type="submit" value="로 그 인">
		<input type="submit" value="회원가입" name="join"/>
		<input type="reset" value="작업취소" />
	</td>
	</tr>
	</form>
	</table>

</body>
</html>