<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>User Profile</title>
</head>
<body>

	<div class="container">
		<table border="1">
			<thead>
				<tr>
					<td colspan="6"><h3>유저 프로필</h3></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>아이디</td>
					<td th:text="${user_info[0].id}">id</td>
					<td>이메일 주소</td>
					<td th:text="${user_info[0].email}">email</td>
				</tr>
				<tr>
					<td>가입일자</td>
					<td th:utext="${user_info[0].reg_date}">reg_date</td>
				</tr>
				<tr>
					<td>접속시간</td>
					<td th:utext="${accessTime}">접속시간</td>
				</tr>
			</tbody>
		</table>
	</div>






</body>
</html>