<th:block th:replace="includes/header :: header"></th:block>
<th:block th:replace="includes/sider :: sider"></th:block>
<style type="text/css">
.detailList{
	list-style-type: none;
}
.thumb{
float: left;
margin-right: 20px;
}
.boundary{
clear: both;
margin-bottom: 30px;
}
.pic{
width: 99px;
height: 141px;
}
.dramaDd dt{
float: left;
line-height: 18px;
}
.dramaDd dd{
margin: 4px 0 4px 40px;
}
.dramaTitle{
float: left;
}
</style>
<div id="page-wrapper">
	<h3><strong th:text="${genreName}"></strong> <strong>드라마</strong></h3>
	<div>
		<ul class="detailList">
			<li th:each="d : ${dramaList}">
				<div class="thumb">
					<a th:href="@{'/drama/detail/' + ${d.no}}">
						<img th:src="@{'/img/' + ${d.poster}}" class="pic" alt="드라마 사진">
					</a>
				</div>
				<dl class="dramaTitle">
					<dt>
						<a th:href="@{'/drama/detail/' + ${d.no}}">
							<span  th:text="${d.title}"></span>
						</a>
					</dt>
					<dd class="dramaDd">
						<dl>
							<dt>개요</dt>
							<dd>
								<a th:href="@{'/drama/list/' + ${d.genre}} + '/1'">
									<span th:text="${d.genre}"></span>
								</a>
							</dd>
							<dt>연령</dt>
							<dd>
								<span th:text="${d.age_limit}"></span>
							</dd>
						</dl>
					</dd>
				</dl>
				<hr class="boundary">
			</li>
		</ul>
		<div>
			<ul class="pagination">
			<li th:each="i : ${#numbers.sequence(beginIndex, endIndex)}"
			class="page-item" th:classappend="${currentIndex == i} ? 'active' : '' ">
				<a class="page-link" th:href="'/movie/list/' + ${genreName} + '/' + ${i} " >
					<span th:text="${i}"></span>
				</a>
			</li>
		</ul>
		</div>
	</div>
</div>