<th:block th:replace="includes/header :: header"></th:block>
<th:block th:replace="includes/sider :: sider"></th:block>
<div id="page-wrapper">
	<style type="text/css">
span {
	color: #000;
}

.more {
	text-align: right;
	margin: -30px 0 15px 0;
}
.moremi{
	color: #000;
	font-weight: bold;
}
.moli li {
	list-style-type: none;
	float: left;
}

.moli {
	display: inline-block;
}

.listre {
	width: 160px;
    margin: 0 30px 10px 0;
	text-align: center;
}

.pic {
	width: 159px;
	padding-bottom: 10px;
	height: 191px;
}
</style>
<div>
	<h3><strong>등골이 오싹한 범죄스릴러</strong></h3>
	<div class="more">
		<a th:href="@{'/drama/list/범죄/1'}" class="moremi">더보기</a>
	</div>
	<ul class="moli">
		<li th:each="d : ${dramaListCri}" class="listre">
			<a th:href="@{'detail/' + ${d.no}}">
				<img th:src="@{'/img/' + ${d.poster}}" alt="드라마사진" class="pic">
			</a>
			<a th:href="@{'/detail/' + ${d.no}}"><span th:text="${d.title}"></span></a>
			<br>
			<span th:text="${d.genre}"></span>
		</li>
	</ul>
	<h3><strong>긴장의 끈을 놓을수 없는 추리</strong></h3>
	<div class="more">
		<a th:href="@{'/drama/list/미스터리/1'}" class="moremi">더보기</a>
	</div>
	<ul class="moli">
		<li th:each="d : ${dramaListMis}" class="listre">
			<a th:href="@{'detail/' + ${d.no}}">
				<img th:src="@{'/img/' + ${d.poster}}" alt="드라마사진" class="pic">
			</a>
			<a th:href="@{'/detail/' + ${d.no}}"><span th:text="${d.title}"></span></a>
			<br>
			<span th:text="${d.genre}"></span>
		</li>
	</ul>
	<h3><strong>배꼽 빠지도록 웃는 코미디</strong></h3>
	<div class="more">
		<a th:href="@{'/drama/list/코미디/1'}" class="moremi">더보기</a>
	</div>
	<ul class="moli">
		<li th:each="d : ${dramaListComi}" class="listre">
			<a th:href="@{'detail/' + ${d.no}}">
				<img th:src="@{'/img/' + ${d.poster}}" alt="드라마사진" class="pic">
			</a>
			<a th:href="@{'/detail/' + ${d.no}}"><span th:text="${d.title}"></span></a>
			<br>
			<span th:text="${d.genre}"></span>
		</li>
	</ul>
	
</div>
</div>