<th:block th:replace="includes/header :: header"></th:block>
<th:block th:replace="includes/sider :: sider"></th:block>

<meta charset="UTF-8">

<style>
#d_position {
	padding-left: 10%;
	padding-right: 10%;
}

#two {
	width: 100%;
}

.left {
	width: 50%;
	float: left;
	
}

.right {
	width: 50%;
	float: right;
}
</style>

<div id="page-wrapper">



	<div id="two" th:object="${detail}">
		<div class="left">
			<div class="page-header">
				<h1>
					<span th:text="*{title}">TITLE</span><br>
				</h1>
				<span th:text="*{genre}">GENRE</span><br>
			</div>
		</div>
		<div style="position: relative; right: -10%; top: 10px;" class="right">
			<img th:src="@{'/img_movie/' + *{poster}}" height="350" width="350"><br>
		</div>
		<div style="clear:both"></div>
		<h3>줄거리</h3>
		<span th:text="*{summary_title}">SUMMATY_TITLE</span><br>
		<div style="position: relative; left: 0%; top: 10px;">
			<span th:text="*{summary_content}">SUMMARY_CONTENT</span><br>
		</div>
	</div>

	<div style="position: relative; right: 0%; top: 50px;" id="d_position" align="center">

		<div style="border-style: ridge;">
			<form method="post" action="">
				<input type="hidden" name="detail" th:value="${detail.no}">
				댓글 :
				<textarea rows="1" cols="80" name="content" id="content"></textarea>
				<input type="submit" value="작성">

			</form>
		</div>

		<div align="center" th:each="r: ${detail.review}">
			<hr style="border: solid 1px lightgray; width: 107%;" >
			<div align="left">
				<span style="font-weight: bold; font-size: large;"
					th:text="${r.title}">댓글 제목</span> <br> <span
					th:text="${r.content}">댓글 내용</span>
			</div>
			<br>

			<div>
				<img style="position: relative; left: -35%; top: 10px;"  th:src="@{'/img/'+ ${r.grade}+'.jpg'}" height="25px;"
					width="100"> <span
					style="position: relative; right: -41.5%; top: 10px;"
					th:text="${r.member_no}">작성자 아이디</span> <span
					style="position: relative; right: -41.5%; top: 10px;"
					th:text="${r.reg_date}">작성 날짜</span>
			</div> 
		</div>

	</div>
</div>



