<th:block th:replace="includes/header :: header"></th:block>

<div class="container">
		<table>
			<tbody >
				<tr th:each="m: ${movieRecommend}">
					<td></td>
				</tr>
				

			</tbody>

		</table>





	</div>



	<div class="container">
		<table>
			<thead>
				<tr>
					<td colspan="2">당신을 위한 추천 영화</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="m: ${movieRecommend}">
					<td><img th:src="@{'/img_movie/'+${m.poster}}" width="100"></td>
					<td th:utext="${m.title} +'<br>' + ${m.genre}" >영화제목</td>
				</tr>
			</tbody>
		</table>
	</div>