<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="header" style="background-color: #f2f2f2;">

<head>

<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/769921875d.js"
	crossorigin="anonymous"></script>

<title>HomePlay</title>

<style>
.category {
	padding: 0 20px;
	color: grey;
}

#search {
	width: 20px;
	height: 20px;
}
</style>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" />


<!-- Bootstrap Core CSS -->
<link href="/design/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">

<!-- MetisMenu CSS -->
<link href="/design/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

<!-- DataTables CSS -->
<link href="/design/vendor/datatables-plugins/dataTables.bootstrap.css"
	rel="stylesheet">

<!-- DataTables Responsive CSS -->
<link
	href="/design/vendor/datatables-responsive/dataTables.responsive.css"
	rel="stylesheet">

<!-- Custom CSS -->
<link href="/design/dist/css/sb-admin-2.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="/design/vendor/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">

</head>
<body>
<style>
#wrapper {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
</style>
<script>
	function page_move(){
		var f=document.paging;
		
	}

</script>
	<div id="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/" style="padding: 5px;"> <img
					src="/img/logo.png" style="width: 140px;">
				</a>
			</div>
			<!-- /.navbar-header -->

			<div class="input-group custom-search-form" style="width: 40%;">
				<input type="text" class="form-control" placeholder="Search...">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">
						<i id="search" class="fa fa-search"></i>
					</button>
				</span>
			</div>
			<!-- /input-group -->

			<ul class="nav navbar-top-links navbar-right">
				<li class="category"><a href="/movie/list"> MOVIE </a></li>
				<li class="category"><a href="/drama/list"> DRAMA </a></li>
				<li class="category"><a href="/game/list"> GAME </a></li>
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"> <i class="fa fa-user fa-fw"></i>
						<i class="fa fa-caret-down"></i>
				</a>
					<ul class="dropdown-menu dropdown-user">
						<li><a href="/account/mypage"><i class="fa fa-user fa-fw"></i> User
								Profile</a></li>
						<li><a href="/account/mypage"><i class="fa fa-gear fa-fw"></i> Settings</a>
						</li>


						<li class="divider"></li>
						<sec:authorize access="isAuthenticated()">
						<form name="myForm" action="/account/logout" method="POST">
							<li><a href="#" onclick="javascript:document.myForm.submit();"><i
									class="fa fa-sign-out fa-fw"></i> Logout</a></li>
									</form>
						</sec:authorize>

						<sec:authorize access="isAnonymous()">

							<li><a href="/account/login"><i
									class="fa fa-sign-out fa-fw"></i> Login</a></li>
						</sec:authorize>
					</ul> <!-- /.dropdown-user --></li>
				<!-- /.dropdown -->
			</ul>
			<!-- /.navbar-top-links -->

		</nav>